.hero-image {
    height: 484px;
    position: relative;
    width: 100%;
}

@media screen and (min-width: 728px) {
    .hero-image {
        height:0;
        padding-bottom: 66.4835164835%;
    }
}

@media screen and (min-width: 1242px) {
    .hero-image {
        height:calc(100vh - 80px);
        padding-bottom: 0;
    }
}

.hero-image__picture {
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover
}

.hero-image__picture,.hero-image__picture:after {
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%
}

.hero-image__picture:after {
    background: linear-gradient(0deg, rgba(0, 0, 0, .2) 0, rgba(0, 0, 0, .2) 100%), linear-gradient(222deg, rgba(0, 0, 0, 0) 54.39%, rgba(0, 0, 0, .8) 77.27%);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
    position: absolute;
    display: block;
}

.hero-image__picture img,.hero-image__picture source {
    display: block;
    height: 100%;
    left: 0;
    -o-object-fit: cover;
    object-fit: cover;
    object-position: left;
    opacity: 0;
    position: absolute;
    top: 0;
    transition: opacity .25s ease;
    width: 100%
}

.hero-image__picture.is-loaded img,.hero-image__picture.is-loaded source,.no-js .hero-image__picture img,.no-js .hero-image__picture source {
    opacity: 1
}

.hero__headline {
    text-wrap: balance;
    bottom:0;
    color: #fff;
    font-size:clamp(2.5rem, 1.7rem + 0.02264* 100vw, 6rem);
    font-weight: 400;
    left: 45px;
    letter-spacing: clamp(-.18rem,-4.5vw + 1rem,-1.88rem);
    line-height: 1.3;
    max-width: 789px;
    position: absolute;
    width: calc(100% - 50px);
    z-index: 2;
}
